# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environment
# ======================
.venv/
venv/
ENV/
env/
**/.env

# ======================
# PyCharm / IntelliJ
# ======================
.idea/
*.iml
*.ipr
*.iws

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Test / Coverage
# ======================
.coverage
htmlcov/
.pytest_cache/
.tox/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# IDE Misc
# ======================
.vscode/

# ======================
# Secrets
# ======================
*.pem
*.key
